.esquina-derecha {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 150px; 
    z-index: 10;     
    border-radius: 100px;
    }
@font-face {
    font-family: "montserrat";
    src: url(Montserrat/static/Montserrat-Medium.tt);
}
html{
    font-family:"montserrat";
    text-align: justify;
    background-color: #0cb7f2;
}
body{
    margin:0
}
.contenido {
    position: relative;
    z-index: 20;
    
}
a{
    text-decoration: none;
}
.nav{
    background-color: #def7ff;
    box-shadow: 0 0 20px 20px #7cdaf9;
}
.fin{
    color: #0cb7f2;
}
.nav_ul{
    margin: 0;
    text-align: center;
}
.nav_lista{
    padding: 10px;
    display: inline-block;
    color: #0cb7f2;

    
}
.nav_item{
    text-decoration: none;
}
.nav_item:hover{
    background-color: #8fe3ff;
    padding: 5px;
}
aside{
    background-color: aqua;
    width: 30px;
    height: 30px;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
  
  aside > p {
    margin: 0.5rem;
  }